<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>IT department</h2>-->
<!--</body>-->
<!--</html>-->

{% load static %}
<html>
<head>
<title>Attendance Management System Using Face Reconition</title>
<h1></h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href='{% static "/style.css"%}' rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href='{% static "/style.css"%}' rel="stylesheet">
<!-- //web font -->
</head>
<body>
<div class="main-w3layouts wrapper">
<h1><b>Attendance Management System Using Face Reconition</b></h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <a href="{% url 'itfirstyear' %}">
            <input type="submit" value="20DTHJA1"></a>
            <a href="{% url 'itsecondyear' %}">
            <input type="submit" value="20DTHJA2"></a>
            <a href="{% url 'itthirdyear' %}">
            <input type="submit" value="20DTHJA3"></a>
            <a href="{% url 'itfourthyear' %}">
            <input type="submit" value="20DTHJA4"></a>
            <a href="{% url 'itfiveyear' %}">
            <input type="submit" value="20DTHJA5"></a>
        </div>
    </div>
</div>
</body></html>
